.links-list {
  background-color: rgb(245 245 245);
  width: 200px;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  float: left;
  box-shadow: inset -4px 0px 4px 0px #418473;
}
.links {
  width: 100%;
  padding: 20px 0 20px 0;
}
.links:hover {
  background-color: rgb(226 224 224);
  width: 97%;
  cursor: pointer;
}
