.navbar {
  height: 25px;
  display: flex;
  position: relative;
  background: #36b47d;
  align-items: center;
  padding: 20px;
  color: white;
  justify-content: space-between;
}
.nav-right {
  width: 20%;
}

.cog-icon {
  font-size: 35px;
  vertical-align: middle;
}
